<template>
    <section>
        <b-field label="Find a country">
            <b-autocomplete
                    rounded
                    v-model="name"
                    placeholder="e.g. United Kingdom"
                    :keep-first="keepFirst"
                    :open-on-focus="openOnFocus"
                    :data="filteredCountries"
                    field="name"
                    @select="country => selected = country">
                <template slot="empty">No results found</template>
            </b-autocomplete>
        </b-field>
    </section>
</template>
<script>
    import axios from 'axios';
    import { startsWith, find } from 'lodash';

    export default {
        data() {
            return {
                countries: [],
                keepFirst: true,
                openOnFocus: true,
                name: '',
                selected: null,
                noFly: [
                    'SD',
                    'IQ',
                    'TD',
                    'IR',
                    'LY',
                    'KP',
                    'SO',
                    'SY',
                    'VE',
                    'YE',
                ],
            };
        },
        mounted() {
            axios.get('https://api.myjson.com/bins/16i597')
                .then(res => {
                    const countries = res.data;
                    this.countries = countries.filter(country =>
                        !this.noFly.includes(country.code));
                });
        },
        computed: {
            filteredCountries() {
                return this.countries.filter(country =>
                    country.name
                        .toString()
                        .toLowerCase()
                        .indexOf(this.name.toLowerCase()) >= 0);
            },
        },
    };
</script>
